@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-container {
    @apply max-w-[90%] mx-auto;
  }
  @screen sm {
    .custom-container {
      @apply min-w-[95%];
    }
  }
  @screen md {
    .custom-container {
      @apply min-w-[95%];
    }
  }
  @screen lg {
    .custom-container {
      @apply min-w-[95%];
    }
  }
}

@font-face {
  font-family: doner;
  src: url("/fonts/Doner-RegularDisplay.otf");
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #333333;
    --foreground: #ffffff;
  }
}

::-webkit-scrollbar {
  width: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-margin-top: 5rem;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: "Rubik", serif; */
  font-family: "Rubik";

  scroll-behavior: smooth;
  background: linear-gradient(
    48deg,
    rgba(78, 160, 186, 0.25) 23%,
    rgba(150, 195, 208, 0.25) 92%
  );
}

.heroSection {
  background: linear-gradient(
      48deg,
      rgba(42, 89, 138, 0.4) 23%,
      rgba(30, 63, 97, 0.2) 92%
    ),
    url("/assets/HeroBackgroundImage.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.graident {
  background: linear-gradient(
    48deg,
    rgba(0, 0, 0, 0.4) 23%,
    rgba(116, 116, 116, 0.2) 92%
  );
}

.Bluegraident {
  background: linear-gradient(
    48deg,
    rgba(59, 131, 208, 0.2) 23%,
    rgba(30, 63, 97, 0.2) 92%
  );
}

@media screen and (max-width: 768px) {
  .heroSection {
    background: linear-gradient(
        48deg,
        rgba(42, 89, 138, 0.4) 23%,
        rgba(30, 63, 97, 0.2) 92%
      ),
      url("/assets/HeroBackgroundImage.webp");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
}

#faq {
  scroll-margin-top: 0.5rem;
}

.paragraph {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.Headiing2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1.5rem 0 0 0;
  font-family: doner;
  letter-spacing: 0.1rem;
}
.Heading2Paragraph {
  font-size: 1.1rem;
}

.listTitle {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0.5rem 0 0.25rem 0;
}

ul {
  list-style: decimal-leading-zero;
  margin: 0 0 1rem 2rem;
  &::marker {
    text-decoration: underline;
    font-weight: 700;
  }
}

ul li {
  font-size: 1.1rem;
}

ol {
  list-style: disc;
  margin: 0 0 1rem 2rem;
  &::marker {
    font-weight: 700;
  }
}

.listTitle + ul {
  list-style: disc !important;
  margin: 0 0 1rem 2rem;
  &::marker {
    font-weight: 700;
  }
}

.listTitle + ol {
  list-style: disc;
  margin: 0 0 1rem 2rem;
}

.listUl li {
  list-style: disc;
  font-size: 1.1rem;
}

.image {
  margin: 1rem 0;
}

.blogContent {
  scroll-behavior: smooth;
  scroll-padding-top: 120rem;
}

.Heading2Paragraph a {
  color: #a5783d !important;
  font-weight: bold;
}

.slick-track {
  display: flex !important;
  overflow: hidden;
}
